<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Patrick Hand' rel='stylesheet'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
   
    <div class = "box">
      <div class = "box-child" >
     
  
      <form class =log-form  action="/menu" method="POST">
        <h1>Login page</h1>
        <div class="input-icons">
        <i class="fa fa-user icon"></i>
        <input class = "input-field" type="text" , id="usrname" , name="username" placeholder="Username" /> 
          <i class="fa fa-key icon"> </i>
        <input class = "input-field" type="password" , id="pss" , name="pass" placeholder="Password"/>
        </div><br/>
        <input id="sub-menu" class = "btn-sub"  type="submit" value="Log-In" />
      </form>
      </div>
    </div>
  </body>
</html>
